#page
{
    margin: 0 !important;
    width: 100%; 
    padding: 0 !important;
    border: 0 !important;
}

#header
{
    width: 100%;
}

#content
{
    margin-top: 0px;
}

#div-img-perfil{
    float: right; height: 75px;
}

#img-perfil
{
    width: 150px;
    height: 120px; 
    position: relative; 
    border-radius: 10px; 
    top: -60px;
}

#login
{
    margin-left: 31%;
}

#logo
{
    position: relative;
    top: 0px;
    height: 100px;
    /*background-image: url(../images/header.png);
    background-attachment: fixed !important;*/
}

#msn-erro
{
    margin-right: 37%;
}

#img_cadeado
{
    position: relative;
    top: 90px;
    left: 20%;
}

fieldset { 
    display: block !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    padding-top: 0.35em !important;
    padding-bottom: 0.625em !important;
    padding-left: 0.75em !important;
    padding-right: 0.75em !important;
    border: 2px solid !important;
    border-radius: 5px;
    border-color: #B5B5B5 !important;
}

legend{
    border: none !important;
    width: auto !important;
    padding: 5px !important;
}

.menu-icone
{
    width: 180px;
    height: 180px;
    border: 2px solid !important;
    border-color: Black !important;
    background-color: #E8E8E8 !important;
    margin: 10px 10px 35px 60px;
    border-radius: 100%;
}

.menu-icone img
{
    margin: 25px 30px 30px 30px;
}

.row label
{
    width: 180px !important;
    float: left !important;
    text-align: left !important;
}

.titulo{
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: black;
    border-bottom: solid black 1px;
}

.tableFloatingHeaderOriginal
{
    background: rgb(0, 96, 169) !important;
}

.sort-link{color: white !important;}

.btn-right
{
    float: right !important;
}

.menu
{
    margin-left: 20% !important;
    width: 100%;
    color: white !important;
}

.menu
{
    width: 100%;
}

.icone-menu
{
    width: 180px;
    height: 180px;
    border: 5px solid !important;
    border-color: #346633 !important;
    background: rgba(230, 228, 229, 0.8) !important;
    border-radius: 100%;
}

.icone-menu:hover
{
    width: 180px;
    height: 180px;
    border: 5px solid !important;
    border-color: #c2ddb0 !important;
    background: rgba(244, 242, 241, 0.5) !important;
    border-radius: 100%;
}


.icone-menu img
{
    margin: 25px 25px 25px 25px;
    width: 120px;
    height: 120px;
}

#div-deficiencia
{
    display: none;
}

.tableFloatingHeaderOriginal
{
    color: white;
}

#header
{
    margin-top: 0px;
}

.breadcrumb
{
    margin-bottom: 15px !important;
}

#div-img-perfil
{
    position: relative !important;
    top: -8px !important;
}

#div-des-usuario
{
    position: relative !important;
    top: 20px !important;
}

#div-des-empresa
{
    position: relative !important;
    top: 20px !important;
}

#div-des-plano
{
    position: relative !important;
    top: 20px !important;
}

.nav-tabs
{
    width: 100% !important;
}

.nav .nav-tabs
{
    border-color: black !important;
}

.tab-content
{
    background: #ddd;
    height: 50px;
    color: #778899;
    font-size: 12pt;
    vertical-align: center;
}

.tab-content div 
{
    position: relative;
    top: 15px;
    left: 40px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
    color: #00008B;
    background-color: #ddd;
    text-decoration: none;
    border-color: #778899;
    border-bottom: none;
}

.dropdown-menu
{
    background-color: #346633 !important;

}

.navbar-default {
    background-color: #346633  !important;
    border-color: #346633 !important;
}

.navbar-default .navbar-brand
{
    color: white !important;
    font-size: 12px;
    font-weight:bold;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
    color: #c29600 !important;
    background-color: #c2ddb0 !important;
    text-decoration: none !important;
    border-color: #c2ddb0 !important;
    border-bottom: none !important;
}

.checkbox
{
    margin-left: -20px !important;
}

.checkbox_flg_ativo input
{
    margin-left: -140px !important;
}

.grid-view thead
{
    background-color: #356732 !important;
    color: white !important;
}

.form-group
{
    margin-bottom: 0 !important;
}

.row  label {
    width: 180px !important;
    float: left !important;
    text-align: right !important;
    padding-right: 15px !important;
}

#form label
{
    padding-right: 30px !important;
}

.label-buscar label
{
    margin-left: -20px;
}

.label-flg label
{
    margin-left: -120px;
}

.login-bg
{
    background-image: url(../images/bg-login.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-top: 5px;
    margin-right: -15px;
}

fieldset
{
    -webkit-box-shadow: 6px 4px 26px 0px rgba(181,181,181,1);
    -moz-box-shadow: 6px 4px 26px 0px rgba(181,181,181,1);
    box-shadow: 6px 4px 26px 0px rgba(181,181,181,1);
}

.glyphicon
{
    margin: 2px !important;
}
